<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186024455231-3gt89j4vekl1mcrlenp8d2qotdi47fns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186024455231-3gt89j4vekl1mcrlenp8d2qotdi47fns</string>
	<key>API_KEY</key>
	<string>AIzaSyBwKzBpjjjwqblpnoN8bBmbio7TBiFenMY</string>
	<key>GCM_SENDER_ID</key>
	<string>186024455231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elab</string>
	<key>PROJECT_ID</key>
	<string>el3b-355b4</string>
	<key>STORAGE_BUCKET</key>
	<string>el3b-355b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186024455231:ios:db17692010737821c65c8a</string>
</dict>
</plist>